@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-jolly: "Jolly Lodger", system-ui;
  --font-poppins: "Poppins", sans-serif;
  --normal-font-size : .938rem;
}

body{
  font-family: var(--font-jolly);
  background-color: hsl(18, 58%, 82%);
}

.hero_image1{
  filter: drop-shadow(0 30px 58px  hsla(25, 90%, 40%, 0.5) );
  
}